// @import "bootstrap-sprockets";
@import "bootstrap";

.day-working { background-color: $yellow; }
.day-free { background-color: $green; }
.day-things { background-color: $gray-500; }
.day-other { background-color: $cyan; }

.date-holoday {
	color: $red;
}

.comment-field {
   font-size: 0.75rem;
}